cp-ejb/src/wsdl/macbook-pro-de-camilo.local_8080/projectCentralizador-web/EmisorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.ecos.edu.uniandes.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ecos.edu.uniandes.co/">

<xs:element name="obtenerEmisores" type="tns:obtenerEmisores"/>

<xs:element name="obtenerEmisoresResponse" type="tns:obtenerEmisoresResponse"/>

<xs:complexType name="obtenerEmisores">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obtenerEmisoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:respuestaEmisor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="respuestaEmisor">
<xs:complexContent>
<xs:extension base="tns:respuestaService">
<xs:sequence>
<xs:element name="emisores" type="tns:emisorDto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="respuestaService">
<xs:sequence>
<xs:element name="errorMensaje" type="xs:string" minOccurs="0"/>
<xs:element name="errorOriginal" type="xs:string" minOccurs="0"/>
<xs:element name="respuestaService" type="xs:string" minOccurs="0"/>
<xs:element name="sePresentoError" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="emisorDto">
<xs:sequence>
<xs:element name="codigoEntidadEmisora" type="xs:int" minOccurs="0"/>
<xs:element name="nombreEntidadEmisora" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>